.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $backdrop-color;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 450px;
  height: 609px;
  padding: 40px;

  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-flex;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    outline: none;
  }
}

.modal__close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: $title-text-color;

  .modal__close-btn:hover &,
  .modal__close-btn:focus & {
    fill: $accent-color;
  }
}

.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: $title-text-color;
  margin-bottom: 12px;

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal__form-field {
  display: flex;
  flex-direction: column;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $primary-text-color;
}

.modal__form-field + .modal__form-field {
  margin-top: 10px;
}

.modal__form-field label {
  margin-bottom: 4px;
}

.modal__form-field-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 30px;
}

.modal__check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  display: flex;
  align-items: center;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__check {
  width: 16px;
  height: 15px;
  display: block;
  border: 2px solid $title-text-color;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input-checkbox:checked + .modal__check-text .modal__check {
  background-color: $accent-color;
  border: none;
}
.modal__input-checkbox:hover + .modal__check-text .modal__check,
.modal__input-checkbox:focus + .modal__check-text .modal__check {
  border-color: $accent-color;
}

.modal__form-input {
  margin: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-color;
    cursor: pointer;
    outline: none;
  }
}

.modal__input-wrapper {
  position: relative;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: $title-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__form-input:hover + &,
  .modal__form-input:focus + & {
    fill: $accent-color;
    cursor: pointer;
    outline: none;
  }
}

.modal__form-comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  @media screen and (min-width: 1200px) {
    .modal__form-comment::placeholder {
      font-size: 12px;
      line-height: 1.17;
    }
  }
}

.modal__form-agreement {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: $accent-color;
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__btn-submit {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: $primary-white-color;

  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: #188ce8;
    outline: none;
  }
}
