.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $bg-color;
  line-height: 1.71;

  @media screen and (max-width: 480px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    & .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @media screen and (min-width: 1200px) {
    & .container {
      display: flex;
      align-items: baseline;
    }
  }
}
.page-footer__logo-web {
  color: $accent-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__address {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
}

.page-footer__logo-studio {
  color: $primary-white-color;
}

.page-footer__google-maps {
  display: block;
  margin-bottom: 9px;
  color: $primary-white-color;
}

.page-footer__contacts {
  color: $secondary-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.page-footer__main-contacts {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: center;
  }
}

.page-footer__mail {
  display: block;
  margin-bottom: 9px;
}

.page-footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: center;
  }
}

.page-footer__social {
  margin-top: 60px;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 165px;
    text-align: center;
    margin-top: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.social-networks__footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.social-networks__footer-links {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;

  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    outline: none;
    background-color: $accent-color;
  }
}

.social-networks__footer-icon {
  fill: $primary-white-color;
  width: 20px;
  height: 20px;
}

.page-footer__footer-subscribe {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.page-footer__input {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: $primary-white-color;
  background-color: $bg-color;
  outline: none;
  padding: 15px 16px;
  cursor: pointer;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    color: $secondary-text-color;
  }

  @media screen and (max-width: 1199px) {
    width: 450px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }
}

.page-footer__btns {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }
}

.page-footer__submit {
  width: 200px;
  height: 50px;
  padding: 10px 28px;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $primary-white-color;
  background: $accent-color;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.page-footer__icon-send {
  margin-left: 10px;
}
