.section-photo {
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.section-photo__title {
  margin-top: 0;
  margin-bottom: 50px;

  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-photo__list {
  display: flex;
  gap: 30px;
}

.section-photo__item {
  position: relative;
}

.section-photo__text {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 370px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  color: $primary-white-color;
  background-color: rgba(47, 48, 58, 0.8);
}
