.section-features {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-features__list {
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.section-features__item {
  @media screen and (max-width: 480px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    // flex-basis: calc((100% - 60px) / 2);
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.section-features__item::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: 30px;
  background-color: $secondary-bg-color;
  border-radius: 4px;
}

.section-features__icon-antenna::before {
  background-image: url(../images/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-features__icon-clock::before {
  background-image: url(../images/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-features__icon-diagram::before {
  background-image: url(../images/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-features__icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.section-features__title {
  margin-top: 0;
  margin-bottom: 10px;

  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 480px) {
    text-align: center;
  }
}

.section-features__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.71;
  color: $primary-text-color;
}
