
  $primary-text-color: #757575;
  $secondary-text-color: rgba(255, 255, 255, 0.6);
  $title-text-color: #212121;
  $accent-color: #2196f3;
  $primary-white-color: #ffffff;
  $bg-color: #2f303a;
  $secondary-bg-color: #f5f4fa;
  $header-border-color: #ececec;
  $secondary-border-color: #eeeeee;
  $icon-color: #afb1b8;
  $backdrop-color: rgba(0, 0, 0, 0.2);

